<table>
  <tr>
    <th>解析</th>
    <th>可用的网站 (慢慢补充)</th>
    <th>其它说明 (慢慢补充)</th>
  </tr>


  <tr>
    <td valign='top' width="20%">
  <%= form_tag("/parse", method: "post") do %>
  <div class="row">
    <div class="col-md-6">
      <textarea name="url" style="width: 300px; height: 200px;"></textarea>
      <p>
        <input type="submit" name="submit" value="Parse" />
      </p>
    </div>

  </div>

<% end %>
    </td>


    <td width="40%">


<p>
  天猫：http://markdown.4ye.me/z1ei2y6c 
  <br />

京东：http://markdown.4ye.me/klxVBaYz
<br />
亚马逊（中国）：http://markdown.4ye.me/dwpFM336
<br />
凡客：http://markdown.4ye.me/KAGHbgz2
<br />
当当：http://markdown.4ye.me/Sh5kEhfY
<br />
1号店：http://markdown.4ye.me/unEbYpEy
<br />
AliceInMod：http://markdown.4ye.me/k2CAyyJI
<br />
易迅：http://markdown.4ye.me/GTH2qw0w
<br />
宜家：http://markdown.4ye.me/aPckCMRZ
<br />
趣玩：http://markdown.4ye.me/DIT6WpP3
<br />
好乐买：http://markdown.4ye.me/VxrScW1o
<br />
NOP：http://markdown.4ye.me/qk1BET4J
<br />
薄荷糯米葱：http://markdown.4ye.me/ulxcoBmm
<br />
国美在线：http://markdown.4ye.me/r9Nq88R0
<br />
优集品：http://markdown.4ye.me/qpzmysKR
<br />
丽芙家居：http://markdown.4ye.me/HZA1hrIy
<br />
无印良品（中国）：http://markdown.4ye.me/hREmA1RY
<br />
YOHO!有货：http://markdown.4ye.me/r25NsdRV
<br />
新蛋中国：http://markdown.4ye.me/rEtHAkVb
<br />
欧舒丹中国：http://markdown.4ye.me/EaYwqyoI
<br />
凡夫：http://markdown.4ye.me/DjHDln4B
<br />
兰蔻（中国）：http://markdown.4ye.me/BXdMdSDM
<br />
KnewOne：http://markdown.4ye.me/se6Q3xiC
<br />
理肤泉：http://markdown.4ye.me/ftK8jAFA
<br />
良仓：http://markdown.4ye.me/yhsMxRN8
<br />
唯品会：http://markdown.4ye.me/WUY5QNGR
<br />

Fab: http://markdown.4ye.me/R16G5TOK
<br />

ebay：http://markdown.4ye.me/JaPk6BFD
<br />

大众点评：http://markdown.4ye.me/j2Oi9SJu

<br />

yelp：http://markdown.4ye.me/FFXUhy7T


</p>

</td>


<td width="40%">
  薄荷糯米葱 http://www.brandnewchina.cn/getProduct.htm?productid=18722&color=RED 获取不到 price, price 值需要通过JS执行来获取

<br />
<br />


国美在线 http://item.gome.com.cn/9133498332.html 获取不到 price, price 值需要通过JS执行来获取

<br />
<br />

优集品 http://www.ujipin.com/g-i15937.html?track=home-time-p2, 图片，价格取不到

<br />
<br />

无印良品 http://www.muji.com.cn/cn/store/goods/4549337448162?sc_prd=1#colorSelect , 图片，价格取不到

<br />
<br />

YOHO!有货 http://item.yohobuy.com/product/pro_40359_62325/HeiTouYuMaoXiangLian.html 获取不到 price
<br />
<br />

新蛋中国 http://www.newegg.cn/Product/A6D-2VX-05H.htm?neg_sp=Home-_-A6D-2VX-05H-_-YouLike, 图片，价格取不到

<br />
<br />

欧舒丹中国 http://www.loccitane.cn/cherry-blossom-solid-perfume,90,2,34817,309403.htm#s=34818 获取不到 price

<br />
<br />

凡夫 http://www.itruelife.com/product/300102061.html 图片获取不到
<br />
<br />


KnewOne https://knewone.com/things/vojo-neng-liang-cha-tou 图片获取不到
<br />
<br />


理肤泉 http://www.larocheposay.com.cn/store/catalog/product/view/id/45/s/lifuquanteanjiemianru/category/376/ 图片获取不到
<br />
<br />


唯品会 http://www.vip.com/detail-383475-50536007.html?f=0|0|0|1 图片获取不到
</td>
</tr>
</table>

