<table>
  <tr>
    <td valign='top'>
  <%= form_tag("/parse", method: "post") do %>
  <div class="row">
    <div class="col-md-6">
      <textarea name="url" style="width: 300px; height: 200px;"></textarea>
      <p>
        <input type="submit" name="submit" value="Parse" />
      </p>
    </div>

  </div>

<% end %>
    </td>


    <td>


<p>
  天猫：http://markdown.4ye.me/z1ei2y6c 
  <br />

京东：http://markdown.4ye.me/klxVBaYz
<br />
亚马逊（中国）：http://markdown.4ye.me/dwpFM336
<br />
凡客：http://markdown.4ye.me/KAGHbgz2
<br />
当当：http://markdown.4ye.me/Sh5kEhfY
<br />
1号店：http://markdown.4ye.me/unEbYpEy
<br />
AliceInMod：http://markdown.4ye.me/k2CAyyJI
<br />
易迅：http://markdown.4ye.me/GTH2qw0w
<br />
宜家：http://markdown.4ye.me/aPckCMRZ
<br />
趣玩：http://markdown.4ye.me/DIT6WpP3
<br />
好乐买：http://markdown.4ye.me/VxrScW1o
<br />
NOP：http://markdown.4ye.me/qk1BET4J
<br />
薄荷糯米葱：http://markdown.4ye.me/ulxcoBmm
<br />
国美在线：http://markdown.4ye.me/r9Nq88R0
<br />
优集品：http://markdown.4ye.me/qpzmysKR
<br />
丽芙家居：http://markdown.4ye.me/HZA1hrIy
<br />
无印良品（中国）：http://markdown.4ye.me/hREmA1RY
<br />
YOHO!有货：http://markdown.4ye.me/r25NsdRV
<br />
新蛋中国：http://markdown.4ye.me/rEtHAkVb
<br />
欧舒丹中国：http://markdown.4ye.me/EaYwqyoI
<br />
凡夫：http://markdown.4ye.me/DjHDln4B
<br />
兰蔻（中国）：http://markdown.4ye.me/BXdMdSDM
<br />
KnewOne：http://markdown.4ye.me/se6Q3xiC
<br />
理肤泉：http://markdown.4ye.me/ftK8jAFA
<br />
良仓：http://markdown.4ye.me/yhsMxRN8
<br />
唯品会：http://markdown.4ye.me/WUY5QNGR
<br />
</p>

</td>
</tr>
</table>

